{{#> appc}}
{{#*inline "content"}}
<div class="bg-black py-16 text-white">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-white mb-8">My Favorites</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="border border-white shadow-lg p-8">
                <div class="relative overflow-hidden">
                    <img class="object-cover w-full h-full"
                        src="https://images.unsplash.com/photo-1542291026-7eec264c27ff" alt="Product">
                    <div class="absolute inset-0 bg-black opacity-40"></div>
                    <div class="absolute inset-0 flex items-center justify-center">
                    </div>
                </div>
                <div class="flex items-center">
                    <h3 class="text-2xl font-bold mt-4 border-r pr-2">Product Name</h3>
                    <h3 class="text-2xl font-bold mt-4 pl-2">Date du concert</h3>
                </div>
                <div>
                    <h3 class="text-xl mt-4">Location</h3>
                </div>
                <div class="py-4 flex items-center justify-between">
                    <h3 class="p-2 border border-pink-600">
                        Genre
                    </h3>
                    <h3 class="p-2 border border-pink-600">
                        Group
                    </h3>
                </div>
                <p class="text-sm mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                    ante justo. Integer euismod libero id mauris malesuada tincidunt.</p>
                <div class="flex items-center justify-between mt-4">
                    <span class="font-bold text-lg">$29.99</span>
                    
                </div>
            </div>

        </div>

    </div>
</div>

{{/inline}}
{{/appc}}