<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{#if viewData.title}}{{viewData.title}}{{else}}Admin - events{{/if}}</title>
    <meta name='author' content='David Grzyb' />
    <meta name='description' content='' />

    <!-- Tailwind -->
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css'
      rel='stylesheet'
    />
    <style>
      @import
      url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
      .font-family-karla { font-family: karla; } .bg-sidebar { background:
      #3d68ff; } .cta-btn { color: #3d68ff; } .upgrade-btn { background:
      #1947ee; } .upgrade-btn:hover { background: #0038fd; } .active-nav-link {
      background: #1947ee; } .nav-item:hover { background: #1947ee; }
      .account-link:hover { background: #3d68ff; }
    </style>
  </head>
  <body class='bg-gray-100 font-family-karla flex'>

    <aside class='relative bg-blue-900 h-screen w-64 hidden sm:block shadow-xl'>
      <div class='p-6'>
        <a
          href='/admin/dashboard'
          class='text-white text-3xl font-semibold uppercase hover:text-gray-300'
        >Admin</a>
        <a href="/tickets/create"
          class='w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center'
        >
          <i class='fas fa-plus mr-3'></i>
          New Concert
        </a>
      </div>
      <nav class='text-white text-base font-semibold pt-3'>
        <a
          href='/admin/dashboard'
          class='flex items-center opacity-75 hover:opacity-100 text-white py-4 pl-6 nav-item'
        >
          <i class='fas fa-tachometer-alt mr-3'></i>
          Dashboard
        </a>
        <a
          href='/users/admin'
          class='flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item'
        >
          <i class='fas fa-sticky-note mr-3'></i>
          Manage Users
        </a>
        <a
          href='/tickets/admin'
          class='flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item'
        >
          <i class='fas fa-table mr-3'></i>
          Manage Concert
        </a>
          <a
          href='/users/profile'
          class='flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item'
        >
          <i class='fas fa-table mr-3'></i>
         Profile
        </a>
      </nav>
    </aside>

    <div class='w-full flex flex-col h-screen overflow-y-hidden'>
      <!-- Desktop Header -->
      <header class='w-full items-center bg-white py-2 px-6 hidden sm:flex'>
        <div class='w-1/2'></div>
        <div x-data='{ isOpen: false }' class='relative w-1/2 flex justify-end'>
          <button
            @click='isOpen = !isOpen'
            class='realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none'
          >
            <svg fill="#000000" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 402.161 402.161" xml:space="preserve">
<g>
	<g>
		<g>
			<path d="M201.08,49.778c-38.794,0-70.355,31.561-70.355,70.355c0,18.828,7.425,40.193,19.862,57.151
				c14.067,19.181,32,29.745,50.493,29.745c18.494,0,36.426-10.563,50.494-29.745c12.437-16.958,19.862-38.323,19.862-57.151
				C271.436,81.339,239.874,49.778,201.08,49.778z M201.08,192.029c-13.396,0-27.391-8.607-38.397-23.616
				c-10.46-14.262-16.958-32.762-16.958-48.28c0-30.523,24.832-55.355,55.355-55.355s55.355,24.832,55.355,55.355
				C256.436,151.824,230.372,192.029,201.08,192.029z"/>
			<path d="M201.08,0C109.387,0,34.788,74.598,34.788,166.292c0,91.693,74.598,166.292,166.292,166.292
				s166.292-74.598,166.292-166.292C367.372,74.598,292.773,0,201.08,0z M201.08,317.584c-30.099-0.001-58.171-8.839-81.763-24.052
				c0.82-22.969,11.218-44.503,28.824-59.454c6.996-5.941,17.212-6.59,25.422-1.615c8.868,5.374,18.127,8.099,27.52,8.099
				c9.391,0,18.647-2.724,27.511-8.095c8.201-4.97,18.39-4.345,25.353,1.555c17.619,14.93,28.076,36.526,28.895,59.512
				C259.25,308.746,231.178,317.584,201.08,317.584z M296.981,283.218c-3.239-23.483-15.011-45.111-33.337-60.64
				c-11.89-10.074-29.1-11.256-42.824-2.939c-12.974,7.861-26.506,7.86-39.483-0.004c-13.74-8.327-30.981-7.116-42.906,3.01
				c-18.31,15.549-30.035,37.115-33.265,60.563c-33.789-27.77-55.378-69.868-55.378-116.915C49.788,82.869,117.658,15,201.08,15
				c83.423,0,151.292,67.869,151.292,151.292C352.372,213.345,330.778,255.448,296.981,283.218z"/>
			<path d="M302.806,352.372H99.354c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h203.452c4.142,0,7.5-3.358,7.5-7.5
				C310.307,355.73,306.948,352.372,302.806,352.372z"/>
			<path d="M302.806,387.161H99.354c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h203.452c4.142,0,7.5-3.358,7.5-7.5
				C310.307,390.519,306.948,387.161,302.806,387.161z"/>
		</g>
	</g>
</g>
</svg>
          </button>
          <button
            x-show='isOpen'
            @click='isOpen = false'
            class='h-full w-full fixed inset-0 cursor-default'
          ></button>
          <div
            x-show='isOpen'
            class='absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16'
          >
           
            <a
              href='/authen/logout'
              class='block px-4 py-2 account-link hover:text-white'
            >Sign Out</a>
          </div>
        </div>
      </header>

      <!-- Mobile Header & Nav -->
      <header
        x-data='{ isOpen: false }'
        class='w-full bg-blue-900 py-5 px-6 sm:hidden'
      >
        <div class='flex items-center justify-between'>
          <a
            href='/admin/dashboard'
            class='text-white text-3xl font-semibold uppercase hover:text-gray-300'
          >Admin</a>
          <button
            @click='isOpen = !isOpen'
            class='text-white text-3xl focus:outline-none'
          >
            <i x-show='!isOpen' class='fas fa-bars'></i>
            <i x-show='isOpen' class='fas fa-times'></i>
          </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class='flex flex-col pt-4'>
          <a
            href='/admin/dashboard'
            class='flex items-center opacity-75 hover:opacity-100 text-white py-2 pl-4 nav-item'
          >
            <i class='fas fa-tachometer-alt mr-3'></i>
            Dashboard
          </a>
        <a
          href='/users/admin'
          class='flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item'
        >
          <i class='fas fa-sticky-note mr-3'></i>
          Manage Users
        </a>
          <a
          href='/tickets/admin'
          class='flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item'
        >
          <i class='fas fa-table mr-3'></i>
          Manage Concert
        </a>
          <a
            href='#'
            class='flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item'
          >
            <i class='fas fa-user mr-3'></i>
            My Account
          </a>
          <a
            href='#'
            class='flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item'
          >
            <i class='fas fa-sign-out-alt mr-3'></i>
            Sign Out
          </a>
        
        </nav>
        <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> New Report
            </button> -->
      </header>

      <div class='w-full overflow-x-hidden border-t flex flex-col'>
        <main class='w-full flex-grow p-6'>
          <h1 class='text-3xl text-black pb-6'>Dashboard</h1>
          <div class="">
              {{> content}}

          </div>
        
         
        </main>

        <!-- footer -->
        <div class='copyright py-4 text-center text-black'>
          <div class='container'>
            <small>
              Copyright -
              <a
                class='text-reset fw-bold text-decoration-none'
                target='_blank'
                href='#'
              >
                Kouawou alex
              </a>
              -
              <a
                class='text-reset fw-bold text-decoration-none'
                target='_blank'
                href='#'
              >
               Russel
              </a>
            </small>
          </div>
        </div>
        <!-- footer -->
      </div>

    </div>

    <!-- AlpineJS -->
    <script
      src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js'
      defer
    ></script>
    <!-- Font Awesome -->
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js'
      integrity='sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs='
      crossorigin='anonymous'
    ></script>
    <!-- ChartJS -->
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'
      integrity='sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI='
      crossorigin='anonymous'
    ></script>

    <script>
      var chartOne = document.getElementById('chartOne'); var myChart = new
      Chart(chartOne, { type: 'bar', data: { labels: ['Red', 'Blue', 'Yellow',
      'Green', 'Purple', 'Orange'], datasets: [{ label: '# of Votes', data: [12,
      19, 3, 5, 2, 3], backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54,
      162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [
      'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'
      ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: {
      beginAtZero: true } }] } } }); var chartTwo =
      document.getElementById('chartTwo'); var myLineChart = new Chart(chartTwo,
      { type: 'line', data: { labels: ['Red', 'Blue', 'Yellow', 'Green',
      'Purple', 'Orange'], datasets: [{ label: '# of Votes', data: [12, 19, 3,
      5, 2, 3], backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162,
      235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [
      'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)'
      ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: {
      beginAtZero: true } }] } } });
    </script>
  </body>
</html>