{{#> appc}}
  {{#*inline "content"}}
<section class="md:grid-cols-3 lg:grid-cols-4 grid grid-cols-1 gap-12">
    <div>
      <div class="w-full">
        <img src="./assets/Articles/Article1.webp" alt="" />
      </div>
      <div class="p-4">
        <div class="flex justify-between">
          <h2 class="font-bold font-sans">Keeve set</h2>
          <p class="font-serif">$590</p>
        </div>
        <div class="flex justify-between mt-2">
          <div>
            <h3 class="font-serif">TABLE & CHAIRs</h3>
            <div class="flex">
              <img src="./assets/Star - On.png" alt="" />
              <img src="./assets/Star - On.png" alt="" />
              <img src="./assets/Star - On.png" alt="" />
              <img src="./assets/Star - On.png" alt="" />
              <img src="./assets/Star.png" alt="" />
            </div>
          </div>
          <div class="mt-2">
            <img src="./assets/add_to_card.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  {{/inline}}
{{/appc}}